// FROM INSPIRE
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

//Global Styles and Mixins

// @mixin font-stack{
//   font-family: 'Raleway', sans-serif;
// }

$background-opacity: .5;

.hidden{
  opacity:0;
}

@mixin absolute-position-center(){
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow() {
-webkit-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.48);
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}
// *{
//   box-sizing:border-box;
//   // @include font-stack;
//   font-weight:500;
//   color:#222;
// }

// INSPIRE
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body{
  // width:100%;
  // height:100vh;
  // background: #16a085; /* Old browsers */
  // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1abc9c+0,16a085+100 */
  // background: #1abc9c; /* Old browsers */
  // background: -moz-linear-gradient(top,  #1abc9c 0%, #16a085 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #1abc9c 0%,#16a085 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #1abc9c 0%,#16a085 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#16a085',GradientType=0 ); /* IE6-9 */
  // overflow:hidden;

  //INSPIRE
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

// .OPENER WAS THE ORIGINAL CLASSNAME OF THE BUTTON

.opener{
  // @include absolute-position-center;
  align-items: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  width:150px;
  height:20px;
  color:#16a085;
  background-color:white;
  border:none;
  font-size:1.5em;
  font-weight:400;
  z-index:20;
}

#above{
  z-index:20;
}

#below{
  z-index:0;
}

::-webkit-scrollbar {
    width: 100px;  /* remove scrollbar space */
    // background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//     background: #FF0000;
// }

// .OPENER WAS THE ORIGINAL CLASSNAME OF THE BUTTON
// .opener:hover{
//   cursor:pointer;
// }

#pop-up{
  @include absolute-position-center();
  @include box-shadow();
  width:95%;
  opacity:0;
  max-height:650px;
  max-width:1000px;
  height:90%;
  background-color:white;
  z-index:10;
  overflow:hidden;
  .border-overlay{
    @include absolute-position-center;
    width:100%;
    height:100%;
    .white{
      width:100%;
      height:100%;
      border:20px solid white;
    }
  }
  .photo{
    display:inline-block;
    float:left;
    width:50%;
    height:100%;
    overflow: auto;
    object-position: center;
    object-size:cover;
    img{
      max-height:100%;
    }
  }
  .text{
    display:inline-block;
    float:left;
    width:50%;
    height:90%;
    margin:2.5% 0;
    padding:0 40px;
    h1{
      font-weight:900;
      font-size:3.8vw;
      margin:0;
      text-align: left;
    }
    p{
    width: 90%;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.8em;
    }
    button{
      background-color:#16a085;
      border:none;
      font-size:1.7em;
      margin:70px 0;
      padding:10px 40px;
      color:white;
      cursor:pointer;
    }
    .close{
      position:absolute;
      text-align: right;
      top:-10px;
      right:10px;
      width:10px;
      font-weight:700;
      font-size:2em;
      color:black;
      cursor:pointer;
    }
  }
  hr{
    width: 35%;
    height: 10px;
    margin:10px auto 30px 0;
    border: none;
    outline: none;
    background-color: #333;
    color: grey;
  }
}

#innerPopUp{
  height:100%;
  overflow: auto;
  opacity:0;
}

.fade-in{
  animation: fadeIn 1.3s ease forwards 1s;
}

.fade-out{
  animation: fadeOut 1.3s ease forwards;
}

.animate-in{
  animation: popIn 1.3s cubic-bezier(.87,-.41,.19,1.22) forwards;
}

.animate-out{
  animation: popOut 1.3s cubic-bezier(.87,-.41,.19,1.22) forwards;
}

@keyframes fadeIn{
  from{
    transform:translateY(-20px);
    opacity:0;
  }
  to{
    transform:translateY(0px);
    opacity:1;
  }
}
@keyframes popIn{
  0%{
    opacity:0;
    transform:scale(0,0);
  }
  60%{
    opacity:1;
    transform:scale(1,1);
  }
  100%{
    opacity:1;
    transform:scale(1,1);
  }
}

@keyframes popOut{
  0%{
    z-index:100;
    opacity:1;
    transform:scale(1,1);
  }
  60%{
    z-index:0;
    opacity:.1;
    transform:scale(.001,.001);
  }
  100%{
    opacity:0;
    transform:scale(0,0);
  }
}

@include keyframes( pop-in ){
  0%{
    opacity:0;
    transform:scale(0,0);
  }
  100%{
    opacity:1;
    transform:scale(1,1);
  }
}


// FROM INSPIRE

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin: 0;
  min-height: 00vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 2em !important;
  &.opener {
    font-weight: 400;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 1em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.85em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}