/* ------------NAVEXAMPLE------------ */
/* ul {
  list-style: none;
  margin: 0;
  width: 100%;
  background-color: #beecea;
}
ul li {
  display: inline-block;
  padding: 1.25rem 3rem;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: darken(#beecea, 15%);
  }
}
.window {
  max-width:1024px;
  padding: 20px;
  margin:auto;
} */


/* ------------SWAL------------ */
.swal{
  font-size: 50px !important;
}

.swal-button--confirm {
  padding: 7px 20px;
  border-radius: 2px;
  background-color: #9CAFB7 !important; 
  background:  #9CAFB7 ; 
  font-size: 20px !important;
  border: 1px solid #9CAFB7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  background:  #9CAFB7;
}

.swal button:hover { 
  background-color:'#9CAFB7' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 

}

.swal button:focus{
  outline: none
}

.swal button:active{
  background-color:'#9CAFB7' !important; 
}

.swal:not([disabled]):hover{
  background-color:'#9CAFB7' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
 }

.swal-overlay {
  background-color: rgba(156, 175, 183, 0.90);
}

.swal-button{
  padding: 1rem 1.5rem !important;
  border-radius: 2px;
  background-color: #9CAFB7 !important; 
  background:  #9CAFB7 ; 
  font-size: 20px !important;
  border: 1px solid #9CAFB7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  background:  #9CAFB7;
}


/* ------------HOMEPAGE------------ */
.home-image {
  padding-top: 40px;
  padding-right: 3vh;
  position: absolute;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

/* ------------ RADIO BUTTONS ------------ */
.radiobuttontop {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-column-gap: 0px;
  /* align-items: center;
  align-content: center;
  justify-content: center; */
}

.radiobuttons {
  display: table-column;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  margin-right: auto;
  margin-left: auto;;
  
}

.radiolabel {
  text-align: left !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: bold;
}

.form-check{
  font-size: 1.8em !important;
  text-align: left !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

/* ------------DASHBOARD------------ */
.dash-container{
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 5vh 5vh;
  grid-column-gap: 5px;
  grid-template-areas:
    "userwelcome userwelcome userwelcome"
    "userquotes userinspire usersequences";
  /* padding-top: -10em; */
}

.welcome {
  grid-area: userwelcome;
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.userquotes {
  grid-area: userquotes;
  text-align: center;
}

.userinspire {
  grid-area: userinspire;
  text-align: center;
}

.usersequences {
  grid-area: usersequences;
  text-align: center;
}

.dashboard {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 32px;
}

.header {
    text-align: center;
    margin-bottom: 8px;
}

.ptag {
  text-align: center;
  letter-spacing: 1px;
  color:#EAD2AC;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* .dashboard-image {
  position: absolute;
  justify-content: flex-end;
} */

/* .right-div {
  margin-top: 80px;
  position: relative;
  margin-left: 60em;
} */

.right-div2{
  margin-right: 100vh;

}


/* ------------LOGINPAGE------------ */
.login-page {
  margin: auto !important;
  padding: 20px !important;
  left: auto !important;
  right: auto !important;
  align-content: center !important;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.login-form {
  position: absolute !important;
  margin: auto !important;
  padding: 20px !important;
  align-content: center !important;
  left: auto !important;
  right: auto !important;
} */

/* .login-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%
} */




/* ------------BUTTONS------------ */
 .mybtn {
  background-color: #ABDAE1 !important;
  outline: #ABDAE1 !important;
  border: 1px solid #a09cb0 !important;
  color: white;
  padding: 1rem 1.5rem !important;
  font-size: 0.8rem !important;
  position: relative !important;
  justify-content: center !important;
  }

 /* .my-btn button:focus{
  outline: none;
 } */

 /* .my-btn button:active{
  background-color:'#a09cb0' !important; 
}
.my-btn:not([disabled]):hover{
  background-color:'#a09cb0' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
 } */ 

/* ------------CARDS------------ */
.card:hover {
  transform: scale(1.1); 
}

/* .card-pose:link {
  color: #776D5A !important;
}
.card-pose:visited {
  color: #776D5A !important; 
} */

/* ------------CARDS -- QUOTES------------ */
.card-columns {
  media-breakpoint-only(lg) {
    column-count: 4;
  };
  media-breakpoint-only(xl) {
    column-count: 5;
  };
}

/* ------------LINKS------------ */
a:link {
  color: #987D7C; 
}

a:visited {
  color: #987D7C; 
}

/* ------------NAVBAR------------ */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #4281A4 !important; 
  height: 90px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important
}

.nav-link{
  font-weight: normal;
  font-size: 2.05em;
  display: flex;
  align-items: center;
}

.nav-link:link {
  color: white !important;
}

.nav-link:visited {
  color: white !important;
}

.sign-out {
  float: right !important;
  overflow: hidden !important;
}


/* NAVBAR */
  /* position: fixed; */
  /* top: 0;
  width: 100%;
  z-index: 100 !important;
  background-color: #A09CB0 !important; 
  height: 90px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.nav-link{
  font-weight: normal;
  font-size: 2.05em;
  display: flex;
  align-items: center;
}
.nav-link:link {
  color: white !important;
}
.nav-link:visited {
  color: white !important;
}
.sign-out {
  float: right !important;
  overflow: hidden !important;
}
/* ------------SEARCHBAR------------ */
.customsearch {
  min-width: 750px !important;
  margin: 0 auto;
  
}

input.customsearch {
  margin: 0 auto;
  width: 700px;
  height: 70px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
 }

 /* ------------POSES PAGE------------ */
 .pose-page {
  min-width: 100% !important;
  height: 100% !important;
  display: row;
  flex-direction: column !important;
  overflow: scroll !important;
 }

 .pose-div {
  min-width: 100% !important;
  margin-top: 100px !important;
}

.pose-list {
  min-width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
}

 /* ------------OTHER PAGES------------ */
.padding {
  padding-top: 110px;
}
 /* ------------LINE------------ */
 .line {
    border-top: .90px solid #4281A4;
    height: 5px;
    width: 1650px !important;
    margin-left: auto;
    margin-right: auto;
}

.vline {
  top: 20rem;
  border-left: .90px solid #4281A4;
  height: 950px;
  position: absolute;
  margin-left: 300px;
}

/* 
  h1{
  font-family: goldenbook, serif; 
  font-weight: 600; 
  font-style: normal; 
  font-size: 100px !important; 
  line-height: 53px !important;
} */

/* p{
      text-align: left;
      line-height: 30px;
} */

body, html {
  height: 100% !important;
  width: 100% !important;
}

/* NOTE- THIS MADE THE NAV BAR CUT OFF */
/* .home-page {
  height: 220vh;
  width: 220vh;
} */


/* .bg {
  height: 100% !important;
  width: 100% !important;
  background-image: url("https://images.unsplash.com/photo-1528715471579-d1bcf0ba5e83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1670&q=80") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
} */

.main {
  text-align: center;
  width: 100%;
  height: calc(100vh - 90px) !important;
}


/* -------------------------------------------CUSTOM STUFF UP ABOVE ------------------------------------------- */
/* THIS STUFF WAS ALREADY HERE */
.App {
  text-align: center;
  width: 100% !important;
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}