/* ------------NAVEXAMPLE------------ */
/* ul {
  list-style: none;
  margin: 0;
  width: 100%;
  background-color: #beecea;
}
ul li {
  display: inline-block;
  padding: 1.25rem 3rem;
  cursor: pointer;
  &:hover,
  &.active {
    background-color: darken(#beecea, 15%);
  }
}
.window {
  max-width:1024px;
  padding: 20px;
  margin:auto;
} */
/* ------------HOMEPAGE------------ */
.home-page {
  display: inline-flexbox;
  grid-template-columns: 
  /* grid-template-rows: 50vh 50vh;
  grid-column-gap: 5px;
  grid-template-areas:
    "userwelcome userwelcome userwelcome"
    "userquotes userinspire usersequences"; */
}

.home-image {
  padding-top: 40px;
  padding-left: vh;
  position: fixed;
}

.home-header{
  font-weight: 200px !important;
  font-size: 1.8em !important;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: left !important;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.homepage-img{
  display: grid;
  grid-template-columns: 67vw 1vw 5vw;
  padding-top: 210px;
  padding-right: 700px;
  font-family: 'Merriweather Sans', sans-serif;
}

.homepage-text {
  display: inline block;
  font-size: 8em;
  font-weight: bold;
  justify-content: right;
  align-content: right;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Merriweather Sans', sans-serif !important;
  color:#4281A4;
  padding-top: 20px;
}

/* .dash-container{
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 5vh 5vh;
  grid-column-gap: 5px;
  grid-template-areas:
    "userwelcome userwelcome userwelcome"
    "userquotes userinspire usersequences";
  /* padding-top: -10em; */
/* } */

/* .welcome {
  grid-area: userwelcome;
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
} */ */

/* ------------SWAL------------ */
.swal{
  font-size: 50px !important;
}

.swal-button--confirm {
  padding: 7px 20px;
  border-radius: 2px;
  background-color: #9CAFB7 !important; 
  background:  #9CAFB7 ; 
  font-size: 20px;
  border: 1px solid #9CAFB7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  background:  #9CAFB7;
}

.swal button:hover { 
  background-color:'#9CAFB7' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 

}

.swal button:focus{
  outline: none
}

.swal button:active{
  background-color:'#9CAFB7' !important; 
}

.swal:not([disabled]):hover{
  background-color:'#9CAFB7' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
 }

.swal-overlay {
  background-color: rgba(156, 175, 183, 0.60);
}

.swal-button{
  padding: 1rem 1.5rem !important;
  border-radius: 2px;
  background-color: #9CAFB7 !important; 
  background:  #9CAFB7 ; 
  font-size: 12px;
  border: 1px solid #9CAFB7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  background:  #9CAFB7;
}



/* ------------DASHBOARD------------ */
.dash-container{
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: 5vh 5vh;
  grid-column-gap: 5px;
  grid-template-areas:
    "userwelcome userwelcome userwelcome"
    "userquotes userinspire usersequences";
  /* padding-top: -10em; */
}

.welcome {
  grid-area: userwelcome;
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.userquotes {
  grid-area: userquotes;
  text-align: center;
}

.userinspire {
  grid-area: userinspire;
  text-align: center;
  margin-top: -38px;
}

.usersequences {
  grid-area: usersequences;
  text-align: center;
}

.dashboard {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 32px;
}

.header {
    text-align: center;
    margin-bottom: 8px;
}

.ptag {
  text-align: center;
  letter-spacing: 1px;
  color:#EAD2AC;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}





/* .dashboard-image {
  position: absolute;
  justify-content: flex-end;
} */

/* .right-div {
  margin-top: 80px;
  position: relative;
  margin-left: 60em;
} */

.right-div2{
  margin-right: 100vh;
  margin-bottom: ;

}


/* ------------LOGINPAGE------------ */
.login-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh 50vh;
  grid-column-gap: 5px;
  overflow: auto !important;
  padding-top: 110px;
  padding-left: 60px;
  margin-right: 0 !important;
  overflow: hidden;
  min-width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  margin-top: 100px !important;
  
}
  
  .pose-list {
    min-width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
  }


/* .color-bg{ */
  /* background-image: url("https://blush.ly/IM0BNaeNW/p"); */
  /* background-color: white;
  min-height: 100%;
  min-width: 100%;
  background-position-x: center;
  background-position-y: top;
  background-repeat: round; */

  /* align-items: left;
  margin-left: -10px; */


/* } */
  /* margin: auto !important;
  padding: 20px !important;
  left: auto !important;
  right: auto !important;
  align-content: center !important;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;  */


/* display: grid;
grid-template-columns: 30vw 40vw 30vw;
grid-template-rows: 5vh 5vh;
grid-column-gap: 5px;
grid-template-areas:
  "userwelcome userwelcome userwelcome"
  "userquotes userinspire usersequences"; */



/* 
.login-form {
  position: absolute !important;
  margin: auto !important;
  padding: 20px !important;
  align-content: center !important;
  left: auto !important;
  right: auto !important;

} */

/* .login-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 100%
} */




/* ------------BUTTONS------------ */
 .mybtn {
  background-color: #E6B89C !important;
  outline: #E6B89C !important;
  border: 1px solid #E6B89C !important;
  color: 4281A4;
  padding: 1rem 1.5rem !important;
  font-size: 2rem !important;
  font-weight: normal;
  position: relative !important;
  justify-content: center !important;
  }

 /* .my-btn button:focus{
  outline: none;
 } */

 /* .my-btn button:active{
  background-color:'#a09cb0' !important; 
}

.my-btn:not([disabled]):hover{
  background-color:'#a09cb0' !important; 
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
 } */ 

/* ------------CARDS------------ */
.card:hover {
  transform: scale(1.1); 
}

/* .card-pose:link {
  color: #776D5A !important;
}

.card-pose:visited {
  color: #776D5A !important; 
} */

/* ------------CARDS -- QUOTES------------ */
.card-columns {
  media-breakpoint-only(lg) {
    column-count: 4;
  };
  media-breakpoint-only(xl) {
    column-count: 5;
  };
}

/* ------------LINKS------------ */
a:link {
  color: #4281A4; 

}

a:visited {
  color: #4281A4; 
}

/* ------------NAVBAR------------ */
.sticky {
  position: fixed;
  top: 0;
  min-width: 100% !important;
  z-index: 100;
  background-color: #4281A4 !important; 
  min-height: 90px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important
}

.nav-link{
  font-weight: normal;
  font-size: 2.05em;
  display: flex;
  align-items: center;
}

.nav-link:link {
  color: white !important;
}

.nav-link:visited {
  color: white !important;
}

.sign-out {
  float: right !important;
  overflow: hidden !important;
}


/* NAVBAR */
  /* position: fixed; */
  /* top: 0;
  width: 100%;
  z-index: 100 !important;
  background-color: #A09CB0 !important; 
  height: 90px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.nav-link{
  font-weight: normal;
  font-size: 2.05em;
  display: flex;
  align-items: center;
}

.nav-link:link {
  color: white !important;
}

.nav-link:visited {
  color: white !important;
}

.sign-out {
  float: right !important;
  overflow: hidden !important;
}

/* ------------SEARCHBAR------------ */
.customsearch {
  min-width: 750px !important;
  margin: 0 auto;
  
}

input.customsearch {
  margin: 0 auto;
  width: 700px;
  height: 70px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
 }

 /* ------------POSES PAGE------------ */
 .pose-page {
  min-width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden;
 }

 .pose-div {
  min-width: 100% !important;
  margin-top: 100px !important;
}

.pose-list {
  min-width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
}

 /* ------------OTHER PAGES------------ */
.padding {
  padding-top: 110px;
}
 /* ------------LINE------------ */
 .line {
    border-top: .90px solid #4281A4;
    height: 5px;
    width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}

.vline {
  top: 20rem;
  border-left: .90px solid #4281A4;
  height: 950px;
  position: absolute;
  margin-left: 300px;
}

/* 
  h1{
  font-family: goldenbook, serif; 
  font-weight: 600; 
  font-style: normal; 
  font-size: 100px !important; 
  line-height: 53px !important;
} */

/* p{
      text-align: left;
      line-height: 30px;
} */

body, html {
  height: 100% !important;
  width: 100% !important;
}


/* .bg {
  height: 100% !important;
  width: 100% !important;
  background-image: url("https://images.unsplash.com/photo-1528715471579-d1bcf0ba5e83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1670&q=80") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
} */

.main {
  text-align: center;
  width: 100%;
  height: calc(100vh - 90px) !important;
}


/* -------------------------------------------CUSTOM STUFF UP ABOVE ------------------------------------------- */
/* THIS STUFF WAS ALREADY HERE */
.App {
  text-align: center;
  width: 100% !important;
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
